<?php

// TODO : créer un fichier env.php et modifier le 'user' et le 'password'

const DB_HOST = 'localhost';
const DB_NAME = 'outrun_tactics';
const DB_USER = 'user';
const DB_PASSWORD = 'password';
