<?php

//Modifier le 'user' et le 'password' et supprimer le .dist dans le nom du fichier

const DB_HOST = 'localhost';
const DB_NAME = 'outrun_tactics';
const DB_USER = 'user';
const DB_PASSWORD = 'pwd';
