*{
    margin: 0;
    padding: 0;
}

.opponents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.section__img{
    width: 100%;
    border-radius: 5%;
    margin-bottom: -4px;

}

.opponents__card{
    flex-direction: column;  
    width: 10%;
    border: black solid 2px;
    text-align: center;
    border-radius: 5%;
}

.joueur__card{
    flex-direction: column;  
    margin: 1rem;
    width: 10%;
    border: black solid 3px;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    right: 3em;
}
.joueur__card2{
    flex-direction: column;  
    margin: 1rem;
    width: 10%;
    border: black solid 3px;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    left: 3em;
}
h1{
    text-align: center;
    font-size: xx-large;
    padding: 1rem ;
}

h3{
    font-size: 13px;
    position: relative;
    z-index: 1;
    padding: 2px;
}

.joueur__img{
    width: 100px;
    height: 70px;
    border: black solid 2px;
}

.map{
    display: flex;
    margin: auto;
    width: 40%;
}
body{
    background-color: #5590cc;
}

.opponents__title{
    font-size: 27px;
}

.bouton{
    width: 100px;
    height: 20px;
    background-color: white;
    border: black;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.start{
    justify-content: center;
    display: flex;
    margin-bottom: 1em;
}
a:link { 
    text-decoration:none; 
} 
